<%= form_with(model: @custom_email_address, class: "mt-5 styled-form") do |f| %>
  <div class="flex">
    <%= f.email_field :email, placeholder: "support@yourdomain.com", class: "flex-grow mr-3" %>
    <%= f.submit "Add", class: "button -primary flex-shrink-0" %>
  </div>
<% end %>
