<div class="text-center">
  <h2 class="mb-5 text-xl lg:text-2xl font-bold text-gray-900">
    Thanks for subscribing 🎉
  </h2>

  <p class="mb-6">Your subscription has been set up and will be billed automatically each month.</p>

  <%= link_to "Back to Happi", message_threads_path, class: "button -primary -rounded -lg" %>
</div>
