<%= tag.h2 t(".heading"), class: "mb-6 text-center text-xl font-bold text-gray-900" %>

<div class="flex items-center justify-center">
  <% @teams.each do |team| %>
    <%= link_to team.name, change_team_path(team), method: :post, class: "-rounded -primary mb-4 button mx-2" %>
  <% end %>
</div>

<%= link_to t(".create_new"), new_team_path, class: "mt-6 block w-full text-center text-gray-400 hover:text-gray-800 underline" %>
