<div class="mb-12 lg:mb-16" id="<%= dom_id(message) %>">
  <% if message.draft? %>
    <%= render Messages::FormComponent.new(
      message: message,
      message_thread: message.message_thread,
      draft_ai_reply: message.ai?,
      emails_to_send_from: message.message_thread.team.emails_to_send_from
    ) %>
  <% else %>
    <%= render Messages::ShowComponent.new(message: message) %>
  <% end %>
</div>
