<div class="mb-12 lg:mb-16" id="<%= dom_id(message) %>">
  <% if message.draft? %>
    <%= render Messages::FormComponent.new(
      message: message,
      message_thread: message.message_thread,
      current_user: current_user,
      current_team: current_team,
      draft_ai_reply: message.ai?
    ) %>
  <% else %>
    <%= render Messages::ShowComponent.new(message: message) %>
  <% end %>
</div>
