<%= render "customers/link", customer: @customer %>

<h1 class="text-2xl font-bold text-gray-900 mt-12"><%= @message_thread.subject %></h1>

<%= render @messages %>

<%= render "messages/form", model: [@message_thread, Message.new] %>
