<%= content_for(:title, "Custom email addresses") %>

<div class="prose">
  <p>At the moment to prevent malicious users on our platform we will set up and approve your custom email address manually.</p>
  <p>Once you have configured email forwarding into Happi and have tested that it works, email <%= mail_to "support@in.happi.team" %> with your custom address and we can add this to your account so that all of your replies in Happi can be sent out using your own email address.</p>
  <p>To confirm you have access to this email address, you may receive an email from our email delivery partner, <strong>Postmark</strong> asking you to confirm your <em>Sender signature</em>, don’t worry this is normal and you should click the link in the confirmation email they send you.</p>
</div>
