<%= content_for(:title, "Getting started") %>

<div class="prose">
  <p>This guide will walk through from the basics of using Happi, right through to integrating the support widget into your application.</p>


  <h3>How does Happi work?</h3>

  <p>Happi picks up your customer conversations from a support email address and/or by integrating the support widget into your application or website.</p>

  <p>In simple terms, you have a inbound mailbox for your Happi account something@in.happi.team, and you forward your real support@comopany.com address to send all emails to your Happi mailbox. <%= link_to "Find out more about how to forward mail to Happi", documentation_forwarding_mail_path %>.</p>

  <p>Once your customer conversations are coming into Happi, you'll be able to collaborate as a team and easily keep a track of which customers need a response. It’s as easy as sending DMs on your favourite social platform, but your whole team has access.</p>


  <h3>Account verification</h3>

  <p>We want to make sure all of the email you send through Happi lands straight in your customers inbox and doesn't get caught up with spam filters, unfortunately, this means we need to be very rigorous with who we let into the platform and we need to make sure each client using Happi isn't doing so for nefarious reasons. </p>
  <p>We’ll try to verify your account as quickly as possible, please be patient as this may take up to 24 hours on weekdays, or the Monday following a weekend.</p>
</div>
