<%= content_for(:title, "Installing the widget") %>

<div class="prose">
  <p>Coming soon.</p>
  <p>You can embed the Happi widget into your website or web app to allow customers to reach out easily.</p>

  <%= image_tag "docs/widget/example.png", alt: "Happi embedable widget", class: "max-w-sm mx-auto" %>
</div>
