<%= content_for(:title, "Prefill user data") %>

<div class="prose">
  <h3>How does it work?</h3>

  <p>If your customers are <em>logged in</em> to your website or app, you can prefill their name and email into the Happi widget, so they don’t need to complete this step and can focus on sending a message easily.</p>

  <p>Using the widget config item <strong>customerData</strong>, you can passed in a signed token that represents your customers name and email. <em>The reason we use a signed token, is so that it cannot be tampered with.</em></p>

  <h3>Creating the signed token</h3>

  <p>For the creation of tokens we use the widely adopted <a href="https://jwt.io" target="_blank">JWT standard</a>. If you are unfamiliar you should <a href="https://jwt.io" target="_blank">check out the JWT website</a>, as they have libraries available for most programming languages and frameworks.</p>

  <p>To sign a JWT you need to have a common shared secret. You can find your shared secret in the <%= link_to "widget settings page", widget_settings_url, target: :_blank %>.</p>

  <pre><code class="text-white"><span class="text-gray-500"># Example using Ruby and 'jwt' gem</span>
payload = {
  <span class="text-gray-500"># Required fields</span>
  first_name: "Jenifer",
  last_name: "Jackson",
  email: "jenifer.jackson@aol.im",

  <span class="text-gray-500"># Optional fields</span>
  company: "ACME Corp",
  phone: "+1 123 555 4356",
  country_code: "US",
  location: "New York City"
}

<span class="text-gray-500"># Below string gets passed into Happi.init as `customerData`</span>
customer_data = JWT.encode(payload, "your-shared-secret", "HS512")
</code></pre>

  <p>That’s it! Now the widget will use the data you have passed in and your customer can quickly send a message.</p>
</div>
