<%= content_for(:title, "Prefill user data") %>

<div class="prose">
  <p>Coming soon.</p>
  <p>If your customers are <em>logged in</em> to your website or app, you can prefill their name and email into the Happi widget, so they don’t need to complete this step and can focus on sending a message easily.</p>
</div>
