<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="fixed z-50 top-0 right-0 flex mt-6 mx-4 md:justify-center md:whitespace-nowrap" data-controller="flash">
      <div class="flex rounded-full py-4 px-6 items-center <%= %w[alert error].include?(name.to_s) ? 'bg-pink-100 text-pink-800' : 'bg-blue-100 text-blue-800' %>">
        <%= content_tag :div, msg, :id => "flash_#{name}", class: "flex-1" %>
        <span class="ml-5 cursor-pointer" data-action="click->flash#dismiss">
          <span class="text-2xl font-light leading-none">&times;</span>
        </span>
      </div>
    </div>
  <% end %>
<% end %>
