<div class="mt-4 bg-purple-500 text-white px-4 py-3 rounded-md">
  <strong class="block mb-1"><%= t(".account_in_review") %></strong>
  <%= tag.p t(".before_you_can_send"), class: "text-sm" %>
</div>
