<div class="mt-4 bg-yellow-100 text-yellow-800 px-4 py-3 rounded-md flex items-center justify-between">
  <span class="block">You need an active subscription to send messages</span>
  <p class="text-sm ml-2 flex-shrink-0">
    <%= link_to "Choose plan", billing_subscriptions_path, class: "button -primary" %>
  </p>
</div>
