<div class="flex flex-col sm:flex-row sm:items-center mb-8">
  <%= tag.h1 heading, class: "uppercase tracking-wider font-semibold text-gray-500 flex-auto" %>

  <%= link_to "Manually add", new_customer_path, class: "my-3 sm:my-0 sm:mr-3 flex-shrink-0 button -rounded" %>

  <%= form_with(url: search_customers_path, method: :get, class: "styled-form") do |f| %>
    <%= f.search_field :query, placeholder: "Search customers", class: "rounded" %>
  <% end %>
</div>
