<div class="flex items-center mb-8">
  <%= tag.h1 @customer.name.full, class: "uppercase tracking-wider font-semibold text-gray-500 flex-auto" %>

  <%= link_to t(".edit"), edit_customer_path(@customer), class: "mr-3 flex-shrink-0 button -rounded" %>
</div>
