<div class="max-w-7xl mx-auto pt-24 px-4 bg-white sm:px-6 lg:px-8">
  <%= link_to image_tag("logo.svg", class: "h-11 w-auto", alt: "Happi"), root_path %>
</div>

<%= render partial: "pages/partials/pricing_table" %>
