<% content_for(:header) do %>
  <%= render partial: "layouts/partials/marketing_header" %>
<% end %>

<div class="max-w-5xl mx-auto px-4 sm:px-6 py-8">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-purple-500">Security Policy</h1>

  <div class="mt-10 lg:mt-16 prose prose-xl lg:prose-2xl">
  </div>
</div>
