<% content_for(:header) do %>
  <%= render partial: "layouts/partials/marketing_header" %>
<% end %>

<div class="max-w-5xl mx-auto px-4 sm:px-6 py-8">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-purple-500">Security Policy</h1>
  <p class="mt-3 text-gray-400 text-lg">Last updated: April 28, 2021</p>

  <div class="mt-10 lg:mt-16 prose md:prose-xl">
    <p>We understand the importance of keeping your data private and strive to do our very best in keeping your data secure and confidential.</p>
    <p>If you would like more information on our other policies, we have <%= link_to "Terms and Conditions", terms_path %> and a <%= link_to "Privacy Policy", privacy_path %>, additionally please contact us at <%= mail_to "support@in.happi.team" %>.</p>

    <h3>Hosting</h3>
    <p>Happi is primarily hosted on <a href="https://www.digitalocean.com">Digital Ocean</a>. We make use of some additional <a href="https://aws.amazon.com/">Amazon Web Services</a> products for file storage and content delivery.</p>
    <p>Our infrastructure is secured by a limited number of engineers who use two-factor authentication.</p>
    <p>All of our web traffic is encrypted with TLS using state of the art RSA 2048 bit keys, provided by <a href="https://letsencrypt.org/">Lets Encrypt</a> and rated “A+” by Qualys SSL Labs (as of March 2021).</p>

    <h3>Software choices</h3>
    <p>Happi has been developed by experienced engineers and has been built on top of quality open-source software. The core application is built using <a href="http://rubyonrails.org/">Ruby on Rails</a> and follows industry best practises.</p>
    <p>We monitor our codebase for CVE’s automatically as part of our continuous deployment process and apply security patches as soon as we are made aware. We also monitor for application errors in realtime and all issues are immediately escalated to our engineering team.</p>

    <h3>Backup policy</h3>
    <p>Happi’s data is backed up to multiple regions within the AWS system to prevent a single point of failure leading to data loss. Backups are stored for 30 days and then permanently deleted.</p>
  </div>
</div>
