<% content_for(:header) do %>
  <%= render partial: "layouts/partials/marketing_header" %>
<% end %>

<div class="max-w-5xl mx-auto px-4 sm:px-6 py-8">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-purple-500">Terms of Service</h1>

  <div class="mt-10 lg:mt-16 prose prose-xl lg:prose-2xl">
    <h3>1. Introduction</h3>

    <p>Payhere is the trading name of Payher Payments Ltd, Company Number NI654984 whose registered office is 5 Mill Lane, Raceview Mill, Broughshane, Northern Ireland, BT42 4EZ. (Payhere, Company, Us, We, Our, Service).</p>

    <p>This is a legal contract between you as an individual or the legal entity that you represent (having full authority to act on behalf of the entity) (You, Your). By using our service and/or signing up for a Payhere account and clicking “I agree” you are legally bound to the terms of this agreement.</p>

    <h3>2. Definitions</h3>

    <p><strong>Service</strong><br />
    The website provided at https://payhere.co, its API or any associated subdomain</p>

    <p><strong>Agreement, Terms, Terms of Service</strong><br />
    This document located at https://payhere.co/terms, titled "Terms of Service Agreement"</p>

    <p><strong>You, User, Customer</strong><br />
    Any individual, business or organisation that has accepted these Terms by using or with intent to use the Payhere Service</p>

    <p><strong>Website</strong><br />
    The Payhere website located at https://payhere.co and any valid subdomains</p>

    <p><strong>Privacy Policy</strong><br />
    The privacy policy located at https://payhere.co/privacy</p>

    <p><strong>Security Policy</strong><br />
    The security policy located at https://payhere.co/security</p>

    <h3>3. Acceptance of Terms</h3>

    <p>By using the Payhere Service in any form You submit to being bound by these Terms and any additional terms and conditions in any policies mentioned in or linked to in this Agreement.</p>

    <p>If You are acting on behalf of a company or other legal entity with authority, its affiliates and all users who access the Payhere Service through your account are then also bound to these Terms, and you warrant and represent that you are authorised to act on behalf of such legal entity or company and to bind them to these Terms accordingly.</p>

    <p>Payhere is a software product to help merchants receive online payments. We do not store or hold your payment method or card details and no monetary transactions take place through our servers. Any payment transactions go directly into the merchants Stripe account.</p>
  </div>
</div>
