<h1>Team not found</h1>

<p>
  Sorry, the team you just emailed doesn’t seem to have an account on happy.team.
</p>

<p>
  <%= link_to "Happi.team", root_url %><br />
  The friendly way to engage with your customers.
</p>
