<h1>Team not found 😢</h1>

<p>
  Sorry, the team you just emailed doesn’t seem to have an account on Happi.
</p>

<p><%= link_to 'Sign up to Happi', root_url, class: "f-fallback button button--primary" %></p>

<%= render "shared/mailer_happi_sig" %>
