<h1>Hey <%= @user.first_name %> 👋</h1>

<h2>Thanks for signing up!</h2>

<p>I want to let you know the next steps you should take to get the most out of Happi.</p>

<p>
  <%= link_to "Set up a custom email address", documentation_custom_email_address_url %> and start forwarding your support emails to Happi.
  Once you have this set up, we’ll go ahead and verify your email to allow you to send replies to your customers using this address.
</p>

<p><%= link_to "Embed the support widget", documentation_widget_installation_url %> on your website to allow customers to send you messages straight from your site.</p>

<p>I am always here if you have questions or feedback!</p>

<p>
  Thanks again,<br />
  Pete, Founder @ Happi
</p>
