<div class="bg-pink-100 text-pink-800 px-8 py-4 rounded-3xl mt-5 text-center">
  <p><strong>The team you are trying to join is full.</strong></p>
  <p class="mt-2 text-sm">
    Please have your team <%= mail_to support_email_address, "contact support", class: "underline" %> to request additional users are added to their plan.
  </p>
</div>
