<p>
  <strong>Pro tip!</strong><br />
  Write a canned response template for your most frequent replies.
</p>

<p>
  <%= image_tag "onboarding/canned-responses.png", alt: "Canned responses", style: "max-width: 100%; width: 300px;" %>
</p>

<p><%= link_to "Create your first canned response", new_canned_response_url %> now and start saving time!</p>
