<p><%= @user.first_name %>, did you know you can customise your email template with your logo?</p>

<p><%= link_to "Visit Settings", settings_url %> to upload your logo and it will be shown in the footer for all emails sent out from Happi.</p>

<p>
  Thanks again,<br />
  Pete, Founder @ Happi
</p>
