<p>Hey <%= @user.first_name %> 👋</p>

<p>Thanks for signing up.</p>

<p>I have sent this email to <strong><%= @team.default_mailbox %></strong>, it is your dedicated support email address, any messages sent to it (or forwarded to it from your own custom email) will appear inside Happi.</p>

<p>
  Tip:<br />
  Try closing this thread using the ‘Status’ dropdown on the right 👉
</p>

<p>Feel free to reply to this email, I am always here if you have questions or feedback.</p>

<p>
  Thanks again,<br />
  Pete, Founder @ Happi
</p>
