.file-attachment-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 20px 0;
  max-width: 280px;
  border: solid 1px #d7d7d7;
  border-radius: 6px;
  padding: 8px 12px !important;
}

.file-attachment-tag > .attachment__caption {
  margin: 0 !important;
}

.file-attachment-tag .attachment-image-preview {
  max-width: 140px;
  margin-bottom: 6px;
}
