<p>Hey <%= @resource.name.familiar %></p>

<p>We're just letting you know that your password has been changed.</p>

<p><strong>If this wasn’t you</strong>, please get in touch with us ASAP, you can reply to this email.</p>

<%= render "shared/mailer_happi_sig" %>
